/* src/components/CartWidget.css */
.cart-widget {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
    transition: color 0.2s;
}

.cart-widget:hover {
    color: #009e18;
}

.cart-count {
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 0.1rem 0.5rem;
    position: absolute;
    top: -14px;
    right: -15px;
    font-size: 0.75rem;
}
