.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.card {
    border: #009e18 1px solid;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: #009e18 0px 0px 10px;
    max-width: 300px;
    max-height: 800px;
    margin: 1.5rem;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    max-height: 300px;
    height: auto;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0.5rem;
    text-align: center;
    color: #ddd;
}

.card-text {
    font-size: 1rem;
    padding: 0 1rem 1rem;
    color: #999;
    text-align: center;
}

.btn {
    background-color: #009e18;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem 0;
}

.btn:hover {
    background-color: #006600;
}

/* Titulo */

.titulo-contenedor {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.1rem #009e18);
}

/* Sobre nosotros */

.about {
    padding: 2rem;
}

.about-title {
    font-size: 3rem;
    margin: 1rem 0 2rem;
    text-align: center;
    color: #ddd;
    filter: drop-shadow(0 0 0.5rem #009e18);
}

.about p {
    font-size: 1.3rem;
    color: #999;
}

/** banner **/

.banner {
    width: 100%;
    height: 450px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    filter: drop-shadow(0 0 0.5rem #009e18);
}

.contenedor {
    display: block;
}
