.navbar {
    background-color: #111;
    padding: 1rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #009e18 2px solid;
    box-shadow: #009e18 0px 0px 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 50px;
}

.navbar h1 {
    color: white;
    margin: 0;
    font-size: 2rem;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-item {
    margin-left: 1rem;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    padding: 0.3rem 1rem;
    transition: border-top 0.3s, color 0.3s, font-size 0.3s;
    font-size: 18px;
}

.navbar-item a:hover {
    border-top: #009e18 3px solid;
    color: #009e18;
    font-size: 22px;
}

.logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: #009e18 0px 0px 6px;
}

span {
    margin-left: 0.5rem;
}
