#root {
    width: 100vw;
    height: 100vh;
}

/*? Botones ?*/

.contenedor-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-accion {
    margin: 2rem 0 0.5rem 2rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.2s;
    outline: none !important;
}

.btn-accion:hover {
    color: #009e18;
    cursor: pointer;
    border: 1px solid #009e18;
    transform: scale(1.1);
}

/*? Buscador ?*/

.busqueda {
    width: 300px;
    height: 35px;
    margin: auto;
    margin: 2rem 0 0.5rem 2rem;
}

.busqueda input {
    height: 35px;
    width: 100%; /* Cambiado a 100% para adaptarse al contenedor */
    border: none;
    border-left: #009e18 2px solid;
    border-radius: 12px;
    padding-left: 0.5rem;
    transition: border 0.3s, box-shadow 0.3s;
    background-color: transparent;
    box-sizing: border-box; /* Añadido para incluir el padding y border en el tamaño total */
}

.busqueda input:focus {
    outline: none;
    border: none;
    border-left: #009e18 2px solid;
    border-top: #009e18 2px solid; /* Mantener consistencia en el borde */
    box-shadow: 0 0 5px rgba(0, 158, 24, 0.5); /* Indicador de foco alternativo */
}
